# Dependency directories
node_modules/
jspm_packages/
venv/
.venv/
env/
__pycache__/
data/

# Build outputs
dist/
build/
out/
*.exe
*.dll
*.so
*.dylib

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Environment variables
.env
.env.local
